В этом конкурсе ваша задача - разработать модель для предсказания успешности стартапа (закроется или нет)

Данные
Датасет состоит из двух файлов: тренировочный набор (около 53к записей) и тестовый набор (около 13к записей). Тренировочный набор содержит целевой признак status, указывающий на то, закрылся стартап или продолжает действовать. Временной период - '1970-01-01' по '2018-01-01'. Дата формирования выгрузки - '2018-01-01'

Описание полей данных
name - Название стартапа
category_list - Список категорий, к которым относится стартап
funding_total_usd - Общая сумма финансирования в USD
status - Статус стартапа (закрыт или действующий)
country_code - Код страны
state_code - Код штата
region - Регион
city - Город
funding_rounds - Количество раундов финансирования
founded_at - Дата основания
first_funding_at - Дата первого раунда финансирования
last_funding_at - Дата последнего раунда финансирования
closed_at - Дата закрытия стартапа (если применимо)
lifetime - Время существования стартапа в днях

In [2]:
import pandas as pd

## Загрузка данных

In [3]:
train = pd.read_csv('./kaggle_startups_train_28062024.csv')
test = pd.read_csv('./kaggle_startups_test_28062024.csv')

In [4]:
train.head()

,name,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,closed_at
0,Lunchgate,Online Reservations|Restaurants,828626.0,operating,CHE,25,Zurich,Zürich,2,2009-10-17,2011-05-01,2014-12-01,NaN
1,EarLens,Manufacturing|Medical|Medical Devices,42935019.0,operating,USA,CA,SF Bay Area,Redwood City,4,2005-01-01,2010-05-04,2014-02-25,NaN
2,Reviva Pharmaceuticals,Biotechnology,35456381.0,operating,USA,CA,SF Bay Area,San Jose,3,2006-01-01,2012-08-20,2014-07-02,NaN
3,Sancilio and Company,Health Care,22250000.0,operating,NaN,NaN,NaN,NaN,3,2004-01-01,2011-09-01,2014-07-18,NaN
4,WireTough Cylinders,Manufacturing,NaN,operating,USA,VA,VA - Other,Bristol,1,2010-05-12,2012-02-01,2012-02-01,NaN

In [5]:
test.head()

,name,category_list,funding_total_usd,country_code,state_code,region,city,funding_rounds,first_funding_at,last_funding_at,lifetime
0,Crystalsol,Clean Technology,2819200.0,NIC,17,NaN,NaN,1,2009-07-01,2009-07-01,3501
1,JBI Fish & Wings,Hospitality,NaN,USA,TN,TN - Other,Humboldt,1,2010-07-28,2010-07-28,2717
2,COINPLUS,Finance,428257.0,LUX,3,Esch-sur-alzette,Esch-sur-alzette,2,2014-05-15,2014-09-18,1295
3,Imagine Communications,Software|Video|Video Streaming,34700000.0,USA,CA,San Diego,San Diego,4,2005-01-01,2010-04-20,4748
4,DNA13,Software,4530000.0,CAN,ON,Ottawa,Ottawa,1,2007-05-08,2007-05-08,6209

## Предобработка данных

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52516 entries, 0 to 52515
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52515 non-null  object
 1   category_list      50051 non-null  object
 2   funding_total_usd  42447 non-null  float64
 3   status             52516 non-null  object
 4   country_code       47014 non-null  object
 5   state_code         45753 non-null  object
 6   region             46157 non-null  object
 7   city               46157 non-null  object
 8   funding_rounds     52516 non-null  int64
 9   founded_at         52516 non-null  object
 10  first_funding_at   52516 non-null  object
 11  last_funding_at    52516 non-null  object
 12  closed_at          4917 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 5.2+ MB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13125 entries, 0 to 13124
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               13125 non-null  object
 1   category_list      12534 non-null  object
 2   funding_total_usd  10547 non-null  float64
 3   country_code       11743 non-null  object
 4   state_code         11430 non-null  object
 5   region             11536 non-null  object
 6   city               11538 non-null  object
 7   funding_rounds     13125 non-null  int64
 8   first_funding_at   13125 non-null  object
 9   last_funding_at    13125 non-null  object
 10  lifetime           13125 non-null  int64
dtypes: float64(1), int64(2), object(8)
memory usage: 1.1+ MB

__Приведем поля с датами к корректоному формату__

In [15]:
for i in ['founded_at', 'first_funding_at', 'last_funding_at', 'closed_at']:
    train[i] = pd.to_datetime(train[i], errors='coerce')

In [18]:
for i in ['first_funding_at', 'last_funding_at']:
    test[i] = pd.to_datetime(test[i], errors='coerce')

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52516 entries, 0 to 52515
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52515 non-null  object
 1   category_list      50051 non-null  object
 2   funding_total_usd  42447 non-null  float64
 3   status             52516 non-null  object
 4   country_code       47014 non-null  object
 5   state_code         45753 non-null  object
 6   region             46157 non-null  object
 7   city               46157 non-null  object
 8   funding_rounds     52516 non-null  int64
 9   founded_at         52516 non-null  datetime64[ns]
 10  first_funding_at   52516 non-null  datetime64[ns]
 11  last_funding_at    52516 non-null  datetime64[ns]
 12  closed_at          4917 non-null   datetime64[ns]
dtypes: datetime64[ns](4), float64(1), int64(1), object(7)
memory usage: 5.2+ MB

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13125 entries, 0 to 13124
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               13125 non-null  object
 1   category_list      12534 non-null  object
 2   funding_total_usd  10547 non-null  float64
 3   country_code       11743 non-null  object
 4   state_code         11430 non-null  object
 5   region             11536 non-null  object
 6   city               11538 non-null  object
 7   funding_rounds     13125 non-null  int64
 8   first_funding_at   13125 non-null  datetime64[ns]
 9   last_funding_at    13125 non-null  datetime64[ns]
 10  lifetime           13125 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(6)
memory usage: 1.1+ MB

In [10]:
train['closed_at'].describe()

count           4917
unique          3008
top       2016-12-02
freq               8
Name: closed_at, dtype: object

In [11]:
train['status'].value_counts()

status
operating    47599
closed        4917
Name: count, dtype: int64